Repository yannrouillard/aws-sso-profiles-switcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ajv --validate-formats=false -s schemas/chrome-manifest.json -d, ajv --validate-formats=false --strict=false -s schemas/github-workflow.json -d

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "manifest.json": [
    "ajv --validate-formats=false -s schemas/chrome-manifest.json -d "
  ],
  ".github/workflows/*.yaml": [
    "ajv --validate-formats=false --strict=false -s schemas/github-workflow.json -d "
  ]
}

:construction_worker: add specific firefox extension linting logic
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

:green_heart: fix mistake in linting github step
  .github/workflows/pull_requests.yaml
Due: ajv --validate-formats=false --strict=false -s schemas/github-workflow.json -d

:sparkles: allow to configure default container for profile
  src/manifest.json
  src/options/options.css
  src/options/options.html
  src/options/options.js
  src/popup/popup.css
  src/popup/popup.html
  src/popup/popup.js
Due: prettier --write, eslint --fix, ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:building_construction: switch to a simple list for storage for simplicity
  src/content_scripts/profiles_info_loader.js
  src/popup/popup.js
  tests/helper.js
  tests/popup.test.js
  tests/profiles_info_loader.test.js
Due: prettier --write, eslint --fix

:building_construction: store account id in the profile information
  src/content_scripts/profiles_info_loader.js
  tests/helper.js
Due: prettier --write, eslint --fix

:bug: keep compatibility with previous storage format
  src/popup/popup.js
Due: prettier --write, eslint --fix

:bookmark: increase version to 0.3.0
  src/manifest.json
Due: ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:fire: remove default container option not really useful
  src/options/options.html
  src/options/options.js
Due: prettier --write, eslint --fix

:sparkles: allow to auto-populate with used AWS profiles
  src/background_scripts/background.js
  src/manifest.json
  src/options/options.html
  src/options/options.js
  tests/background.test.js
  tests/helper.js
Due: prettier --write, eslint --fix, ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:recycle: move common functions in the common.js file
  .eslintrc.yml
  src/background_scripts/background.js
  src/content_scripts/profiles_info_loader.js
  src/lib/common.js
  src/manifest.json
  src/popup/popup.html
  src/popup/popup.js
  tests/background.test.js
  tests/helper.js
  tests/popup.test.js
  tests/profiles_info_loader.test.js
  tests/test_files/empty.html
Due: prettier --write, eslint --fix, ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:lipstick: improve wording for auto-populate option
  src/options/options.html
Due: prettier --write

:building_construction: store profile color information in storage
  src/lib/common.js
  src/popup/popup.js
  tests/helper.js
  tests/popup.test.js
  tests/profiles_info_loader.test.js
Due: prettier --write, eslint --fix

:recycle: factor option input configuration logic
  src/options/options.html
  src/options/options.js
Due: prettier --write, eslint --fix

:recycle: factor a bit of duplicated test code
  tests/background.test.js
Due: prettier --write, eslint --fix

:sparkles: add support for per-profile container
  src/background_scripts/background.js
  src/manifest.json
  src/options/options.html
  src/options/options.js
  tests/background.test.js
  tests/helper.js
Due: prettier --write, eslint --fix, ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:bug: ensure profiles are listed in alphabetical order
  src/lib/common.js
  tests/helper.js
Due: prettier --write, eslint --fix

:bookmark: increase version to 0.4.0
  src/manifest.json
Due: ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:bookmark: increase version to 0.4.1
  src/manifest.json
Due: ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:bug: ensure browser action icon is shown by default
  src/manifest.json
Due: ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:children_crossing: create the new AWS tab after the current one
  src/background_scripts/background.js
  src/popup/popup.js
  tests/background.test.js
  tests/helper.js
Due: prettier --write, eslint --fix

:lipstick: avoid empty white space in prefs in dark mode
  src/options/options.css
Due: prettier --write
