Repository yannrouillard/aws-sso-profiles-switcher: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ajv --validate-formats=false -s schemas/chrome-manifest.json -d, ajv --validate-formats=false --strict=false -s schemas/github-workflow.json -d

:bookmark: increase version to 0.4.1
  src/manifest.json
Due: ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:bug: Workaround 429 rate limit error when loading profiles
  .eslintrc.yml
  src/content_scripts/profiles_info_loader.js
  src/lib/common.js
  src/popup/popup.js
  tests/background.test.js
  tests/helper.js
  tests/profiles_info_loader.test.js
Due: prettier --write, eslint --fix

:bug: fix breakage caused by new AWS Access Portal design
  src/background_scripts/background.js
  src/content_scripts/profiles_info_loader.js
  src/lib/common.js
  tests/background.test.js
  tests/helper.js
  tests/popup.test.js
  tests/profiles_info_loader.test.js
  tests/test_files/aws_portal.legacy.anothersso.html
  tests/test_files/aws_portal.legacy.mysso.expanded_sections.html
  tests/test_files/aws_portal.legacy.mysso.folded_sections.html
  tests/test_files/aws_portal.legacy.mysso.html
  tests/test_files/aws_portal.new.anothersso.html
  tests/test_files/aws_portal.new.mysso.expanded_sections.html
  tests/test_files/aws_portal.new.mysso.folded_sections.html
  tests/test_files/aws_portal.new.mysso.html
Due: prettier --write, eslint --fix

:recycle: move aws profile info in a dedicated class
  .eslintrc.yml
  src/background_scripts/background.js
  src/content_scripts/profiles_info_loader.js
  src/lib/common.js
  tests/background.test.js
  tests/helper.js
  tests/popup.test.js
  tests/profiles_info_loader.test.js
Due: prettier --write, eslint --fix

:bookmark: increase version to 0.4.3
  src/manifest.json
Due: ajv --validate-formats=false -s schemas/chrome-manifest.json -d

:sparkles: add support for keyboard navigation
  src/popup/popup.css
  src/popup/popup.js
  tests/popup.test.js
Due: prettier --write, eslint --fix

:bug: ensure a container color matches the profile one
  src/background_scripts/background.js
  tests/helper.js
Due: prettier --write, eslint --fix

:memo: slightly improve README.md
  README.md
  screenshots/screenshot-instructions.png
  screenshots/screenshot-loading-profiles.png
  screenshots/screenshot-multiple-profiles.png
  screenshots/screenshot-profiles-switcher-2.png
  screenshots/screenshot-profiles-switcher.png
Due: none

:bookmark: increase version to 0.5.0
  src/manifest.json
Due: ajv --validate-formats=false -s schemas/chrome-manifest.json -d

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint --fix: any of: *.js
  ajv --validate-formats=false -s schemas/chrome-manifest.json -d: any of: manifest.json
  ajv --validate-formats=false --strict=false -s schemas/github-workflow.json -d: any of: .github/workflows/*.yaml
